USE [master]
GO
/****** Object:  Database [ConnectPlusDataBase]    Script Date: 2/24/2026 11:27:07 PM ******/
CREATE DATABASE [ConnectPlusDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConnectPlusDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ConnectPlusDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConnectPlusDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ConnectPlusDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConnectPlusDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConnectPlusDataBase]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/24/2026 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 2/24/2026 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[AgentId] [int] IDENTITY(1,1) NOT NULL,
	[AgentName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketCategories]    Script Date: 2/24/2026 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[SLAHours] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 2/24/2026 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Priority] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ResolvedDate] [datetime] NULL,
	[CustomerId] [int] NOT NULL,
	[AgentId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TicketSummary]    Script Date: 2/24/2026 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TicketSummary]
AS
SELECT
    t.TicketId,
    t.Title,
    t.Status,
    t.Priority,
    t.CreatedDate,
    t.ResolvedDate,
    c.FullName AS CustomerName,
    a.AgentName,
    tc.CategoryName,
    tc.SLAHours,
    DATEDIFF(HOUR, t.CreatedDate, t.ResolvedDate) AS ResolutionHours
FROM Tickets t
INNER JOIN Customers c ON t.CustomerId = c.CustomerId
INNER JOIN Agents a ON t.AgentId = a.AgentId
INNER JOIN TicketCategories tc ON t.CategoryId = tc.CategoryId;
GO
/****** Object:  View [dbo].[vw_TicketPerformanceReport]    Script Date: 2/24/2026 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TicketPerformanceReport] AS
SELECT
    t.TicketId,
    c.FullName AS CustomerName,
    a.AgentName,
    tc.CategoryName,
    t.Status,
    t.Priority,
    t.CreatedDate,
    t.ResolvedDate,

    -- Calculate resolution hours
    CASE 
        WHEN t.ResolvedDate IS NOT NULL 
        THEN DATEDIFF(MINUTE, t.CreatedDate, t.ResolvedDate) / 60.0
        ELSE NULL
    END AS ResolutionHours,

    tc.SLAHours,

    -- SLA Breach logic (only closed tickets)
    CASE 
        WHEN t.Status = 'Closed'
             AND t.ResolvedDate IS NOT NULL
             AND DATEDIFF(HOUR, t.CreatedDate, t.ResolvedDate) > tc.SLAHours
        THEN 'Yes'
        ELSE 'No'
    END AS IsSLABreached

FROM Tickets t
INNER JOIN Customers c ON t.CustomerId = c.CustomerId
INNER JOIN Agents a ON t.AgentId = a.AgentId
INNER JOIN TicketCategories tc ON t.CategoryId = tc.CategoryId;
GO
SET IDENTITY_INSERT [dbo].[Agents] ON 

INSERT [dbo].[Agents] ([AgentId], [AgentName], [Role]) VALUES (1, N'Rahul Mehta', N'Support Agent')
INSERT [dbo].[Agents] ([AgentId], [AgentName], [Role]) VALUES (2, N'Priya Sharma', N'Supervisor')
INSERT [dbo].[Agents] ([AgentId], [AgentName], [Role]) VALUES (3, N'Arjun Singh', N'Support Agent')
SET IDENTITY_INSERT [dbo].[Agents] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FullName], [Email], [PhoneNumber], [CreatedDate]) VALUES (1, N'Amit Kumar', N'amit@gmail.com', N'9876543210', CAST(N'2026-02-23T21:39:10.790' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Email], [PhoneNumber], [CreatedDate]) VALUES (2, N'Sneha Patel', N'sneha@gmail.com', N'8765432109', CAST(N'2026-02-23T21:39:10.790' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Email], [PhoneNumber], [CreatedDate]) VALUES (3, N'Rohit Verma', N'rohit@gmail.com', N'7654321098', CAST(N'2026-02-23T21:39:10.790' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketCategories] ON 

INSERT [dbo].[TicketCategories] ([CategoryId], [CategoryName], [SLAHours]) VALUES (1, N'Technical Issue', 24)
INSERT [dbo].[TicketCategories] ([CategoryId], [CategoryName], [SLAHours]) VALUES (2, N'Billing Issue', 48)
INSERT [dbo].[TicketCategories] ([CategoryId], [CategoryName], [SLAHours]) VALUES (3, N'General Inquiry', 72)
SET IDENTITY_INSERT [dbo].[TicketCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketId], [Title], [Description], [Status], [Priority], [CreatedDate], [ResolvedDate], [CustomerId], [AgentId], [CategoryId]) VALUES (1, N'Login Issue', N'Unable to login to portal', N'Closed', N'High', CAST(N'2026-02-23T21:39:10.790' AS DateTime), CAST(N'2026-02-23T22:56:26.653' AS DateTime), 1, 1, 1)
INSERT [dbo].[Tickets] ([TicketId], [Title], [Description], [Status], [Priority], [CreatedDate], [ResolvedDate], [CustomerId], [AgentId], [CategoryId]) VALUES (2, N'Payment Failed', N'Payment not processing', N'In Progress', N'Medium', CAST(N'2026-02-23T21:39:10.790' AS DateTime), NULL, 2, 3, 2)
INSERT [dbo].[Tickets] ([TicketId], [Title], [Description], [Status], [Priority], [CreatedDate], [ResolvedDate], [CustomerId], [AgentId], [CategoryId]) VALUES (3, N'Password Reset', N'Need password reset link', N'Closed', N'Low', CAST(N'2026-02-23T21:39:10.790' AS DateTime), CAST(N'2026-02-24T08:38:47.570' AS DateTime), 3, 1, 3)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D10534C58255A1]    Script Date: 2/24/2026 11:27:08 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_Email]    Script Date: 2/24/2026 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customers_Email] ON [dbo].[Customers]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_CustomerId]    Script Date: 2/24/2026 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_CustomerId] ON [dbo].[Tickets]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tickets_Status]    Script Date: 2/24/2026 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_Status] ON [dbo].[Tickets]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([AgentId])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[TicketCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDashboardMetrics]    Script Date: 2/24/2026 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDashboardMetrics]
AS
BEGIN
    SELECT COUNT(*) AS TotalTickets FROM Tickets;

    SELECT Status, COUNT(*) AS CountByStatus
    FROM Tickets
    GROUP BY Status;

    SELECT COUNT(*) AS HighPriorityTickets
    FROM Tickets
    WHERE Priority = 'High';

    SELECT COUNT(*) AS SLABreachedTickets
    FROM vw_TicketSummary
    WHERE ResolutionHours > SLAHours;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTicketSummaryReport]    Script Date: 2/24/2026 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTicketSummaryReport]
AS
BEGIN

    SELECT 
        COUNT(*) AS TotalTickets,

        SUM(CASE WHEN t.Status = 'Open' THEN 1 ELSE 0 END) AS OpenTickets,

        SUM(CASE WHEN t.Status = 'In Progress' THEN 1 ELSE 0 END) AS InProgressTickets,

        SUM(CASE WHEN t.Status = 'Closed' THEN 1 ELSE 0 END) AS ClosedTickets,

        SUM(CASE 
                WHEN t.Status = 'Closed'
                     AND t.ResolvedDate IS NOT NULL
                     AND DATEDIFF(HOUR, t.CreatedDate, t.ResolvedDate) > tc.SLAHours
                THEN 1
                ELSE 0
            END) AS SLABreachedTickets,

        AVG(CASE 
                WHEN t.Status = 'Closed'
                     AND t.ResolvedDate IS NOT NULL
                THEN DATEDIFF(MINUTE, t.CreatedDate, t.ResolvedDate) / 60.0
                ELSE NULL
            END) AS AverageResolutionHours

    FROM Tickets t
    INNER JOIN TicketCategories tc 
        ON t.CategoryId = tc.CategoryId;

END
GO
USE [master]
GO
